@* add Template File *@
@(form: play.data.Form[Player])

@main("Catan Leader Board") {
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">Home</a>
                <ul class="nav navbar-nav">
                    <li><a href="@routes.Application.leader">Leader Board</a></li>
                    <li><a href="@routes.Application.addPlayer">Add Player</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span4">
              @helper.form(action = routes.Application.addPlayer) {
                  <div class="form-group">
                    @helper.inputText(form("Name"), 'id -> "name")
                  </div>
                  <div class="form-group">
                    @helper.inputText(form("Wins"), 'id -> "wins")
                  </div>
                  <div class="form-group">
                    @helper.inputText(form("Games"), 'id -> "games")
                  </div>
                  <input type="submit"/>
                }
            </div>
            <div class="span8">
            </div>
        </div>
    </div>

}
