@* add Template File *@
@(form: play.data.Form[PlayerForm], error: String)

@main("Catan Leader Board") {

    <div class="container">
        <div class="row">
            <div class="span4">
              @helper.form(action = routes.Application.addPlayer) {
                  <div class="form-group">
                    @helper.inputText(field = form("name"))
                  </div>
                  <div class="form-group">
                    @helper.inputText(field = form("wins"))
                  </div>
                  <div class="form-group">
                    @helper.inputText(field = form("games"))
                  </div>
                  <input type="submit"/>
                }
            </div>
            <div class="span8">
                <h1>Enter Player Data</h1>
                <p>Welcome to the Settlers of Catan Leader Board. Enter the name you prefer to be known by in the name field.
                 Your wins can not be greater than your games played. If you try this, you are dumb and a liar. Have a wonderful day!</p>

                 <h3>@error</h3>
            </div>
        </div>
    </div>

}
