@(form: play.data.Form[Bar])

@main("Catan Leader Board") {
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">Home</a>
                <ul class="nav navbar-nav">
                    <li><a href="@routes.Application.leader">Leader Board</a></li>
                    <li><a href="@routes.Application.addPlayer">Add Player</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span4">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="http://www.catan.com/game/catan">Traditional Game</a></li>
                    <li><a href="http://www.catan.com/game/catan#playing-tips">Playing Tips</a></li>
                    <li><a href="http://www.catan.com/game/catan#prof-easy">Game Intro</a></li>
                </ul>
            </div>
            <div class="span8">
                <h1>Settlers of Catan Leader Board</h1>
                <p>This is my web app that we, the interns, were given as homework. This app uses Spring, Hibernate, and Play!
                This app adds players to a MySQL database and displays them on a leader board. On the leader board each unique player
                can be sorted by wins or win percentage. Are you the best of the best?</p>
            </div>
        </div>
    </div>

}