@()

@main("Catan Leader Board") {

    <div class="container">
        <div class="row">
            <div class="span4">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="http://www.catan.com/game/catan">Traditional Game</a></li>
                    <li><a href="http://www.catan.com/game/catan#playing-tips">Playing Tips</a></li>
                    <li><a href="http://www.catan.com/game/catan#prof-easy">Game Intro</a></li>
                </ul>
            </div>
            <div class="span8">
                <h1>Settlers of Catan Leader Board</h1>
                <p>This is my web app that we, the interns, were given as homework. This app uses Spring, Hibernate, and Play!
                This app adds players to a MySQL database and displays them on a leader board. On the leader board each player
                is sorted by wins. Are you the best of the best?</p>
            </div>
        </div>
    </div>

}